{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form role="form" class="form-horizontal" method="POST">
{% if Error %}
        <div class="alert alert-danger alert-dismissable col-md-12">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ Error }}</strong>
        </div>
{% endif %}
{% csrf_token %}
{% for field in FormLogin %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">{{ field }}</div>
        </div>
{% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <div class="col-sm-4">
            <button type="reset" class="btn btn-warning btn-block">Reset</button>
          </div>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}