<!DOCTYPE html>
<html ng-app="Minecraft" lang="en">
<head>
  <title>Minecraft Server HTML Management by Rabbit</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    html{
      height:100%;
    }
    body{
      height:100%;
      font-family: "Courier New", Courier, monospace;
      color: #CECECE;
      background-color: black;
      word-wrap:break-word;
    }
    .invert{
      border-color: #CECECE;
      border-width: 2px;
      color:white;
      background-color: black;
    }
  </style>
</head>
<body ng-controller="MinecraftController">
  <div class="row-fluid" style="height:100%">
    <div class="col-md-10" style="height:100%">
      <div class="row-fluid" style="height:90%;overflow:auto;" id="line-wrapper">
        <div class="col-md-12">
        <div>
          <span style="display:block">Server would be automatically stop every 2 hours, click "Renew Session" button every now and then to keep you online.</span>
        </div>
        <div ng-repeat="line in lines track by $index">
          <div ng-bind-html="line"></div>
        </div>
        </div>
      </div>
      <form ng-submit="send_command(command)" class="row-fluid" style="height:10%">
        <div class="col-md-12" style="height:100%">
        <table style="height:100%;width:100%;">
        <tr style="height:100%;width:100%;"><td style="vertical-align:bottom;width:100%;">
        <table style="width:100%">
          <tr>
            <td style="width:90%"><input ng-model="command" ng-keydown="keydown($event)" type="text" class="form-control invert"/></td>
            <td><button type="submit" class="btn btn-info">Send</button></td>
          </tr>
        </table>
        </td></tr></table>
        </div>
        
      </form>  
    </div>

    <div class="col-md-2" style="height:100%">
      <button ng-click="start_server();start_clicked=true;" ng-disabled="start_clicked" class="btn btn-lg btn-success btn-block"> Start Server</button>
      <button ng-click="stop_server();stop_clicked=true;" ng-disabled="stop_clicked" class="btn btn-lg btn-danger btn-block">Stop Server</button>
      <button ng-click="renew_session();renew_clicked=true;" ng-disabled="renew_clicked" class="btn btn-lg btn-primary btn-block">Renew Session</button>
      <button ng-click="logout()"class="btn btn-lg btn-warning btn-block">Logout</button>
    </div>
  </div>
  <script src="js/jquery/jquery-1.11.0.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular/angular-cookies.min.js"></script>
  <script src="js/angular/angular-sanitize.min.js"></script>
  <script src="js/minecraft.js"></script>
</body>
</html>